
<br /><br /><br /><br /><br />
<div class="containter">
<div class="row"><div class="col-md-4 col-md-offset-4"><h1>Nowe ogłoszenie</h1></div></div></div>
<%= render 'form', ad: @ad %>

<%= link_to 'Back', ads_path %>
